.default {
  width: 400px;
  height: 400px;
  background-color: rgb(209, 209, 209);
}

.input-result {
  width: 98%;
  height: 16%;
  background-color: rgb(133, 134, 147);
  color: white;
  text-align: right;
  font-size: 2vw;
}

.buttons-group1 {
  width: 25%;
  height: 20%;
  background-color: rgb(224, 224, 224);
  text-align: center;
  font-size: 1.5vw;
  padding: 1.5vw 0 1.5vw 0;
}

.buttons-group2 {
  width: 25%;
  height: 20%;
  background-color: rgb(243, 145, 72);
  text-align: center;
  font-size: 1.5vw;
  padding: 1.5vw 0 1.5vw 0;
}

.buttons-group3 {
  width: 50%;
  height: 20%;
  background-color: rgb(224, 224, 224);
  text-align: center;
  font-size: 1.5vw;
  padding: 1.5vw 0 1.5vw 0;
}
